.app {
	overflow:hidden;
}

.main-header{
	min-height: 2rem;
	margin-bottom: 0.5rem;
	background-color: #8fef9c;
}

.body{
	    font-size: 16px;
}

.unmargin{
	margin-left: 0px;
	margin-right: 0px;
}

.form-button{
	text-align:center;
}